#top {
  margin: 0 auto;
  margin-bottom: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right:20px;
  border-radius: 10px;
}

#modal-footer {
	text-align: right;
}

#openAbout {
  margin-top: 27px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 3%;
  right: 19%;
}

#openInstructions {
  margin-top: 27px;
  font-size: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 3%;
  right: 6%;
}

#modalTextboxAbout {
	background-color: #FEE2E2;
	height: 125px;
	width: 200px;
	border-radius: 10px;
  display: none;
  color: black;
  font-weight: bold;
  overflow: auto;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  animation: modal-pulse 1s 3;
  position: absolute;
  top: 12%;
  right: 16%;
}

#modalTextboxInstructions {
	background-color: #FEE2E2;
	height: 125px;
	width: 200px;
	border-radius: 10px;
  display: none;
  color: black;
  font-weight: bold;
  overflow: auto;
  padding: 10px;
  font-family: 'Josefin Sans', sans-serif;
  animation: modal-pulse 1s 3;
  position: absolute;
  top: 12%;
  right: 2%;
}

.about {
  padding-right: 20px;
}

#title {
  margin-left: 0;
  font-size: 50px;
  margin-top: 5px;
  font-family: 'Shrikhand';
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 12%;
  color: white;
  text-align: center;
}

#logo {
  width: 100%;
  height: 200px;
  position: relative;
  display: block;
}

/* pulse animation for modal textboxes */
@keyframes modal-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0,0,0,0.2);
  }
  100% {
    margin-top: 10px;
    box-shadow: 0 0 0 35px rgba(0,0,0,0);
    transform: scale(1.1);
  }
}

/* CSS for middle container */
#middle {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F4F5F5;
  border-radius: 15px;
  border: 1px solid teal;
}

#player {
  font-size: 20px;
  font-family: 'Arsenal', sans-serif;
}

input {
  font-size: 12px;
  width: 150px;
  font-weight: bold;
}

.playerContainer {
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px;
  margin: 0 30px;
  background: white;
}

#leftStatsContainer {
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

#rightStatsContainer {
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.teamLogos {
  padding-left: 50px;
}

.player1Name {
  font-family: 'Arsenal', sans-serif;
  font-size: 50px;
}

.player2Name {
  font-family: 'Arsenal', sans-serif;
  font-size: 50px;
}

h3 {
  font-family: 'Arsenal', sans-serif;
  font-size: 30px;
}

h4 {
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
}

img {
  width: 50px;
  height: 50px;
}

.submit {
  border-radius: 10px;
  border: 1px solid blue;
  font-size: 15px;
  margin: 0 auto;
}

.vs {
  font-size: 50px;
  font-family: 'Bungee Inline', cursive;
  margin: 0 auto;
  padding-top: 50px;
}

button {
  border-radius: 10px;
  border: 1px solid purple;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 30px;
}

.stat {
  font-weight: bold;
}

/* Gif Carousel */
.carousel-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.carousel-gifs {
  width: 80%;
  background: white
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}

.carousel-gifs img {
  width: 90%;
  border-radius: 15px;
  display: none;
  height: 90%;
  margin-left: 30px;

}

.carousel-gifs img:first-of-type {
  display: block;
}

.carousel-button {
  align-self: center;
  padding: 10px;
  text-align: center;
  width: 10%;
  margin-top: 30px;
}
.carousel-button:hover {
  cursor: pointer;
  color: white;
}

/* CSS styling for bottom container */

#bottom {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bottomContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 75px;
}

#credit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  margin: 0;
  margin-top: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin-left: -10px;
}

.creditLink {
  padding-right: 20px;
  color: white;
}

/* Adding Media query for iphones */
@media (max-width: 1000px) {
  /* CSS styling for top container */
  #logo {
    height: 300px;
    width: 110%;
  }

  #title {
    font-size: 45px;
    left: 7%;
    top: 5%;
  }

  #openAbout {
    top: 1%;
    right: 10%;
  }

  #openInstructions {
    top: 10%;
    right: 11%;
  }

  #modalTextboxAbout {
    width: 220px;
    height: 83px;
    font-size: 12px;
    padding: 5px;
    top: 4.5%;
    right: 5%;
  }

  #modalTextboxInstructions {
    width: 220px;
    height: 83px;
    font-size: 12px;
    padding: 5px;
    top: 13.5%;
    right: 5%;
  }

  /* CSS styling for middle container */
  #middle {
    display: flex;
    flex-direction: column;
    width: 106%;
    margin: 0 auto;
  }

  input {
    font-size: 20px;
    width: 250px;
  }

  #vs {
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  /* CSS styling for bottom container */
  #bottom {
    padding-left: 100px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  #credit {
    width: 110%;
  }
}

@media only screen and (max-width: 480px) {
  /* CSS styling for top container */
  #openAbout {
    top: 1%;
    right: 5%;
    font-size: 15px;
  }

  #openInstructions {
    top: 25%;
    right: 5%;
    font-size: 15px;
  }

  #modalTextboxAbout {
    width: 100px;
    height: 120px;
    font-size: 12px;
    padding: 5px;
    top: 9%;
    right: 5%;
  }

  #modalTextboxInstructions {
    width: 100px;
    height: 120px;
    font-size: 12px;
    padding: 5px;
    top: 33%;
    right: 4%;
  }

  #logo {
    height: 300px;
  }

  #title {
    font-size: 25px;
    top: 15%;
    left: 4%;
  }

  /* CSS styling for middle container */
  #middle {
    display: flex;
    flex-direction: column;
  }

  #vs {
    align-items: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  input {
    font-size: 18px;
    width: 250px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #middle {
    margin: 0 auto;
    width: 105%;
  }

  #leftStatsContainer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #rightStatsContainer {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .teamLogos {
    padding-left: 15px;
  }

  /* CSS styling for bottom container */
  #bottom {
    margin-bottom: 200px;
    padding-bottom: 0px;
    height: 300px;
  }

  #credit {
    font-size: 13px;
    padding-left: 10px;
    margin-left: -10px;
  }
}
